flows/DRE_Preferred_Vendor_Request-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>DREPointOfContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VendorRequest.Preferred_Vendor__c</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varPointOfContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPointOfContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingVendorChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Preferred_Vendor_Name</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Preferred_Vendor__c</object>
        <outputAssignments>
            <assignToReference>varPreferredVendorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPreferredVendorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonsforOutsourcing</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_s_for_Outsourcing__c</picklistField>
        <picklistObject>Preferred_Vendor_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>DRE Preferred Vendor Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DRE Preferred Vendor Request</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>DREVendorRequest</name>
        <label>DREVendorRequest</label>
        <locationX>330</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>varVendorRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_SOW_document</targetReference>
        </connector>
        <inputAssignments>
            <field>Anticipated_Start_Date__c</field>
            <value>
                <elementReference>Anticipate_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Work__c</field>
            <value>
                <elementReference>Description_of_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Est_Hours_to_Complete__c</field>
            <value>
                <elementReference>Est_Hours_to_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Reason_s_for_Outsourcing__c</field>
            <value>
                <elementReference>Other_Reason_s_for_Outsourcing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PICO_ID__c</field>
            <value>
                <elementReference>taskRayProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Vendor__c</field>
            <value>
                <elementReference>varPreferredVendorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Due_Date__c</field>
            <value>
                <elementReference>Project_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_s_for_Outsourcing__c</field>
            <value>
                <elementReference>Reason_s_for_Outsourcing</elementReference>
            </value>
        </inputAssignments>
        <object>Preferred_Vendor_Request__c</object>
    </recordCreates>
    <screens>
        <name>DRE_Preferred_Vendor_Request</name>
        <label>DRE Preferred Vendor Request</label>
        <locationX>160</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Preferred_Vendor</targetReference>
        </connector>
        <fields>
            <name>Anticipate_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Anticipate Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Project Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Est_Hours_to_Complete</name>
            <dataType>Number</dataType>
            <fieldText>Est. Hours to Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reason_s_for_Outsourcing</name>
            <choiceReferences>ReasonsforOutsourcing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason(s) for Outsourcing</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Reason_s_for_Outsourcing</name>
            <dataType>String</dataType>
            <fieldText>Other Reason(s) for Outsourcing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_of_Work</name>
            <fieldText>Description of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Preferred_Vendor</name>
        <label>Find Preferred Vendor</label>
        <locationX>160</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Vendors</targetReference>
        </connector>
        <fields>
            <name>Preferred_Vendor_Name</name>
            <dataType>String</dataType>
            <fieldText>Preferred Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DRE_Point_of_Contact</name>
            <dataType>String</dataType>
            <fieldText>DRE Point of Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_Vendors</name>
        <label>Matching Vendors</label>
        <locationX>160</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DREVendorRequest</targetReference>
        </connector>
        <fields>
            <name>Matching_Vendor_Records</name>
            <choiceReferences>MatchingVendorChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Vendor Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Matching_Points_of_Contact</name>
            <choiceReferences>DREPointOfContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Points of Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_SOW_document</name>
        <label>Upload SOW document</label>
        <locationX>513</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UploadSOWDoc</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload SOW Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varVendorRequestId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>DRE_Preferred_Vendor_Request</startElementReference>
    <variables>
        <name>taskRayProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadSOWDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SOW Document</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPointOfContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPointOfContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreferredVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreferredVendorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVendorRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Preferred_Vendor_Request__c</objectType>
    </variables>
</Flow>
